@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */

            html {
                margin: auto;
                width: 100%;
                height: 100vh;
            }

            body {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            li {
                list-style-type: none;
            }

        /* CLASS */

            .header,
            .main {
                padding: .8rem;
            }

            .main {
                gap: .8rem;
            }

            .main,
            .form,
            .input-button-container,
            .tasks-list-container,
            .tasks-container,
            .task,
            .icons-container {
                display: flex;
            }

            .main,
            .form,
            .tasks-list-container,
            .tasks-container {
                flex-direction: column;
            }

            .form,
            .tasks-list-container {
                border: .1rem solid hsl( 0, 0%, 0%);
                border-radius: .6rem;
            }

            .form h2 {
                border-top-right-radius: inherit;
                border-top-left-radius: inherit;
                border-bottom: .1rem solid hsl( 0, 0%, 0%);
                background-color: hsl( 0, 50%, 50%);
                padding: .6rem;
                gap: .6rem;
            }

            .input-button-container {
                justify-content: center;
                padding: .6rem;
                gap: .6rem;
            }

            .input-button-container input,
            .input-button-container button {
                padding: .4rem;
                width: 50%;
            }

            .tasks-list-container h2 {
                border-top-right-radius: inherit;
                border-top-left-radius: inherit;
                border-bottom: .1rem solid hsl( 0, 0%, 0%);
                background-color: blueviolet;
                padding: .6rem;
            }

            .tasks-container {
                padding: .6rem;
                gap: .6rem;
            }

            .task {
                transition: .5s;
                border-radius: .4rem;
                border: .1rem solid hsl( 0, 0%, 0%);
                justify-content: space-between;
                padding: .4rem;
                gap: .4rem;
            }

            .completed-task {
                transition: .5s;
                background-color: hsl(120, 100%, 80%);
            }

            .icons-container {
                padding: .2rem;
                gap: .6rem;
            }

            .icons-container i {
                cursor: pointer;
                align-self: center;
            }

            .fa-check {
                color: hsl(120, 100%, 20%);
            }

            .fa-trash-can {
                color: hsl(0, 100%, 50%);
            }

        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }